<!-- FOOTER -->
<footer>
	<div class="container-fluid footer-content">
		<div class="container">
			<div class="row">
				<ul class="list-inline text-center">
					<li>
                		<a href="https://twitter.com/baiaku22" target="_blank">
                			<i class="fa fa-twitter fa-fw fa-2x"></i>
                		</a>
                	</li>
                	<li>
                		<a href="https://br.linkedin.com/in/lucas-rodrigues-moura-823574a7" target="_blank">
                			<i class="fa fa-linkedin fa-fw fa-2x"></i>
                		</a>
                	</li>
                	<li>
                		<a href="https://github.com/lucas-rodrigues20" target="_blank">
                			<i class="fa fa-github-alt fa-fw fa-2x"></i>
                		</a>
                	</li>
                	<li>
                		<a href="https://www.freecodecamp.com/lucas-rodrigues20" target="_blank">
                			<i class="fa fa-free-code-camp fa-fw fa-2x"></i>
                		</a>
                	</li>
				</ul>

				<hr class="small">
                <p class="text-muted text-center">Lucas Rodrigues Moura &copy; 2016</p>
			</div>
		</div>
	</div>
</footer>
<!-- FOOTER -->