<div class="container">
	<div class="row">
		
		<h1 class="text-center">Livros</h1>
		<hr>
		
		<div class="col-xs-4" ng-repeat="livro in livros">
		<div class="panel panel-primary">
		
			<div class="panel-heading">
				<h2 class="panel-title">{{livro.titulo}}</h2>
			</div>
			
			<div class="panel-body">
				<figure class="col-xs-5">
					<img ng-src="{{livro.capa}}" alt="{{livro.titulo}}" class="img-thumbnail img-responsive">
			 	</figure>
			 	
			 	<div class="col-xs-7">
					<dl>
						<dt>Titulo</dt>
						<dd>{{livro.titulo}}</dd>
	
						<dt>Autor</dt>
						<dd>{{livro.autor}}</dd>
	
						<dt>Categoria</dt>
						<dd>{{livro.categoria}}</dd>
					</dl>
					
					<a ng-href="#/livros/{{livro.id}}" class="btn btn-primary">
						<i class="fa fa-external-link" aria-hidden="true"></i> Visualizar Livro
					</a>
				</div>
			</div>
		
		</div>
		</div>
	
	</div>
</div>